{% extends "frontend/base.html" %}
{% load static %}

{% block body_class %}page-start{% endblock %}
{% block title %}Start Game - Project Red{% endblock %}

{% block navigation %}

{% endblock %}

{% block header %}
  <header>
    <img class="site-logo" src="{% static 'frontend/image/header-logo-1100.png' %}"
     alt="Welcome to the Frustration Nation!" />
  </header>
{% endblock %}

{% block content %}
  <div class="start-page-container">
    <div class="start-content">
      <h1>Welcome to the gag game!</h1>
      <button id="bouncingButton">START GAME!</button>
    </div>
  </div>

<script src="{% static 'frontend/js/start.js' %}"></script>
{% endblock %}